* {
	margin:0;
	padding:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	width:100%;
	height:100%;
	font-size:16px;
}

body {
	font-family:'Open Sans', 'Helvetica', sans-serif;
	background:#FFFFFF;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

div, main, section, nav, header, footer {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.noBreak{
    white-space: nowrap;
}
.bodyItalic{
	font-style:italic;
}

main{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	min-height:100vh;
}
section, header, footer{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
}
.divider{
	position:relative;
	margin:0;
	padding:0;
	width:100%;
	height:6px;
	background-color:rgb(25, 16, 68);
}
.section-inner{
	position:relative;
	margin:0 auto;
	padding:40px 15px;
	width:100%;
	max-width:930px;
	color:#111111;
}
.section-inner > h1{
	margin:60px 0 30px 0;
	padding:0;
	font-size:4em;
	text-align:center;
}
.section-inner > h2{
	margin:15px 0 60px 0;
	padding:0;
	font-size:1.3em;
	font-weight:400;
	text-align:center;
}
.section-inner > h3{
	margin:0;
	padding:0;
	font-size:1.5em;
	font-weight:700;
	text-align:center;
}
.section-inner > p{
	margin:0;
	padding:0;
	font-size:.9em;
}
.intro-title{
	background-color:transparent;
	overflow:hidden;
}
#intro-video-container{
	position:absolute;
	left:50%;
	top:50%;
	width:100%;
	min-width:900px;
	height:auto;
	background-color:#111111;
	background-image:url("../img/header-background-frame.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	transform:translate(-50%,-50%);
}
#intro-video-container::before{
	content:'';
	display:block;
	position:relative;
	left:0;
	top:0;
	width:100%;
	height:auto;
	padding-top:56.25%;
}
#intro-video-background{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	opacity:0;
	transition:opacity 1s;
}
#intro-video-overlay{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:transparent;
}
.intro-title > .section-inner{
	color:#FFFFFF;
}
.intro-paragraph{
	background-color:#FFFFFF;
}
.intro-paragraph > .section-inner{
	color:#222222;
}
.intro-paragraph > .section-inner > p{
	position:relative;
	width:100%;
	max-width:640px;
	margin:0 auto;
}
.section-work{
	background-color:rgb(241, 240, 238);
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
}
.section-work .section-inner{
	color:#222222;
}
.section-work h3{
	margin-bottom:15px;
}
.section-work p{
	text-align:center;
}
.section-work a{
	color:#000000;
	text-decoration:none;
}
.section-work a:hover{
	text-decoration:underline;
}
.linknote{
	font-size:.9em;
	color:#666666;
}
.section-resume{
	text-align:center;
}
footer{
	background-color:#FFFFFF;
	text-align:center;
}
a.button{
	display:inline-block;
	position:relative;
	width:auto;
	margin:10px;
	padding:10px 20px;
	background-color:rgb(29, 32, 83);
	text-align:center;
	text-decoration:none;
	font-size:.9em;
	color:#FFFFFF;
}
a.button.linkedin{
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	background-image:url("../img/social-linkedin.png");
}

@media only screen and (max-width:520px){
	.section-inner > h1{
		margin:40px 0 20px 0;
		font-size:3em;
	}
	.section-inner > h2{
		margin:15px 0 40px 0;
		font-size:1em;
	}
}