* {
	margin:0;
	padding:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body {
	width:100%;
	height:100%;
}

body {
	font-family:'Open Sans', 'Helvetica', sans-serif;
	background:#000000;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

div, main, section, nav, header, footer {
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.noBreak{
    white-space: nowrap;
}
.bodyItalic{
	font-style:italic;
}

#mainContentContainer{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#302c2a;
	color:#FFFFFF;
}
#centerContentContainer{
	position:relative;
	margin:0 auto;
	width:100%;
	max-width:900px;
	height:100%;
}
#heightContentContainer{
	position:relative;
	margin:0 auto;
	top:50%;
	-ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); 
	width:100%;
	height:100%;
	/*max-height:720px;*/
}
#innerContentContainer{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#302c2a;
	opacity:1;
	display:flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.content-container-vertical-center{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.content-container-horizontal-center{
	position:relative;
}
.content-copy-intro{
	font-size:1.3em;
	padding:15px 30px;
}
.content-container-buttons{
	padding:15px 20px;
}
.button-more{
	position:relative;
	padding:5px 10px;
	max-width:200px;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	font-size:.9em;
	-moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.button-more:hover{
	color:#afd3f5;
}
.button-more > a{
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	outline:0;
	color:#FFFFFF;
	text-decoration:none;
}
.button-more-label{
	margin-left:10px;
}